root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
# Accessibility reasons. Vim: :%retab! (note also :set ts=4)
indent_style = tab
indent_size = tab
max_line_length = 78
end_of_line = lf

[*.{cff,yaml,yml,json}]
indent_style = space
indent_size = 2

[*.{txt,markdown,md}]
trim_trailing_whitespace = false
indent_style = space
