root = true

[*]
# https://peps.python.org/pep-0008/#indentation
indent_style = space
indent_size = 4
max_line_length = 79

[*.py]
profile = black
max_line_length = 79
#end_of_line = crlf

[*.md]
end_of_line = lf
