# wifiqr.bash output
*.png
*.jpg
*.jpeg
# download-forgejo.bash results to these
forgejo-*
gitea
# employees.bash
employees.csv
# submodule symlinks
backup-ops2l-vmc.bash
generate-vcard-qr.bash
install-cht.bash
gist-irc-piraatit
PPFI-IM-IRC
init-browser-policies.bash
tlp-masker.bash
update-font-cache.bash
resolv.conf-generate.bash
systemd-resolv.conf-generate.bash
systemd-resolv.conf-restore.bash
