# wifiqr.bash output
*.png
*.jpg
*.jpeg
# download-forgejo.bash results to these
forgejo-*
# employees.bash
employees.csv
# submodule symlinks
backup-ops2l-vmc.bash
generate-vcard-qr.bash
install-cht.bash
gist-irc-piraatit
PPFI-IM-IRC
